{% extends "website/base.html" %}

{% load bootstrap3 %}
{% load staticfiles %}

{% block content %}

  <div class="row" align="center">
    <h3>"{{ card.game.name }}" card</h3>

    {% for field in card.fields %}
      <div class="col-xs-15" data-toggle="modal" data-target="#{{ field.position }}-modal">
        <div id="field{{ field.position }}" class="bingo-field">
          <p class="field-is-checked">{{ field.is_checked }}</p>
          {% if field.field_value.image %}
          <div class="bingo-field-bg" style="background-image:url({{ field.field_value.image.tile_400px.url }}); background-size:cover;"></div>
          {% else %}
          <div class="bingo-field-bg"></div>
          {% endif %}
          <div class="bingo-field-inner">
            {{ field.field_value.name }}
          </div>
        </div>
      </div>

      <div class="modal fade" id="{{ field.position }}-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">{{ field.field_value.name }}</h4>
            </div>
            <div class="modal-body">
              <p id="field-description">{{ field.field_value.description }}</p>
            </div>
            <div class="modal-footer">
              <div class="col-xs-6">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
              <div class="col-xs-6">
                <a href="/field/toggle/{{ field.id }}"> <button id="done" type="button" class="btn btn-primary">check!</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}
