{% extends "website/base.html" %}

{% load bootstrap3 %}
{% load staticfiles %}

{% block content %}

{% for card in cards %}
    <div class="row" align="center">

        Card for game "{{ card.game.name }}" with id {{ card.id }}.

        {% for field in card.fields %}
            <div class="row" align="center">

                {{ field.position }} <br/>
                {{ field.field_value.name }} <br/>
                {{ field.field_value.description }} <br/>
                {{ field.is_checked }} <br/>
                <a href="/field/toggle/{{ field.id }}">Toggle</a>

            </div>
        {% endfor %}

    </div>
{% endfor %}

{% endblock %}