{% extends "website/base.html" %}

{% load bootstrap3 %}
{% load staticfiles %}

{% block content %}

<div class="subnav subnav subnav-fixed-top" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="subnav">
            <ul class="nav navbar-nav">
                <li><a href="/event/new"><b class="text-info">{% bootstrap_icon "plus" %} New event </b></a></li>
            </ul>
        </div>
    </div>
</div>


<div class="row" align="center">
{% for event in events %}
  <a href="#{{ event.id }}">
      {{ event.name }} |
  </a>
{% endfor %}
</div>

<div class="row" align="center">
    {% for event in events %}
        <div class="col-md-12">
        <h4>
            <a href="/event/edit/{{ event.id }}" name="{{ event.id }}">
                {{ event.name }}
            </a>
        </h4>
        <h5>{{ event.description }}</h5>
        {% if event.image %}
          <img src="{{ event.image.tile_400px.url }}" class="img-responsive" alt="{{ event.name }} image">
        {% endif %}
        </div>
        <hr/>
    {% endfor %}
</div>

{% endblock %}