{% extends "website/base.html" %}

{% load bootstrap3 %}
{% load staticfiles %}

{% block content %}

<div class="subnav subnav subnav-fixed-top">
    <div class="container">
        <div class="subnav">
            <ul class="nav navbar-nav">
                <li><a href="/game/new"><b class="text-info">{% bootstrap_icon "plus" %} New game </b></a></li>
            </ul>
        </div>
    </div>
</div>

{% for game in games %}
    <div class="row" align="center">
        <h3>{{ game.name }}</h3>
        <h4>
            {{ game.n_players }} players
        </h4>
        <h4>
        {% for player in game.players %}
            {{ player }}
        {% endfor %}
        </h4>
        {% if game.is_joined %}
            <a href="/card/{{ game.card_id }}" class="btn btn-success" role="button">My Card</a>
        {% else %}
            <a href="/game/join/{{ game.id }}" class="btn btn-primary" role="button">Join</a>
        {% endif %}
    </div>
    <hr/>
{% endfor %}

{% endblock %}